<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android_training"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestSurfaceView"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.TESTSURFACEVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tavli"
            android:label="@string/title_activity_main" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.Tavli" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SurfaceViewTouch"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.SURFACEVIEWTOUCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TextTestie"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.TEXTTESTIE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThreadTimeTestie"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.THREADTIME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FullScreen"
            android:label="@string/title_activity_main" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.FULLSCREEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TicTacToe"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.TICTACTOE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TicTacToeGame"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.TICTACTOEGAME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>